
    {% extends "core/base.html" %}
    {% load static %}

    {% block title %}Agenda de Torneos{% endblock title %}

    {% block css %}<link rel="stylesheet" href="{% static 'core/css/datatables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/responsive.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/fullcalendar/lib/main.css' %}" />{% endblock css%}

    {%block carrusel %}<!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'core/img/carrusel_1.jpg'%}" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/carrusel_1.jpg'%}" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/carrusel_1.jpg'%}" class="d-block w-100" alt="" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>{% endblock carrusel %}

    {% block breadcrumb %}<!-- Breadcrumb -->
    <div class="container my-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'torneo:inicio' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'torneo:agenda' %}">Torneos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Agenda</li>
        </ol>
      </nav>
    </div>{% endblock breadcrumb %}

    {% block main %}<div class="container">
      <h1 class="text-center text-uppercase">Agenda</h1>
      <p class="mb-5 mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum felis sit amet nulla aliquet, in viverra
        tortor scelerisque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Sed nec sollicitudin magna. Aliquam rutrum, erat quis auctor condimentum, ex nibh dapibus quam, sed condimentum
        nisl elit in ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam orci nibh, posuere at
        velit mattis, accumsan dapibus ipsum. Morbi eu felis sodales, cursus nisl eget, efficitur sem. Nullam imperdiet
        aliquam vehicula. Aliquam venenatis volutpat nulla, eu pharetra nunc blandit ut. Mauris sem lacus, rhoncus ac
        tellus ut, vehicula tempor turpis. Curabitur imperdiet velit ut augue tincidunt, sit amet ultrices elit
        molestie. Duis mattis porttitor iaculis. Nunc gravida sem non risus pharetra rutrum.
      </p>
    </div>

    <!-- Calendar -->
    <div class="container">
      <div class="row">
        <div id='calendar'></div>
      </div>
    </div>
    </div>
    <br><br><br>

    <!-- DataTables bootstrap-5 -->
    <!-- Mostrar lista de torneos en curso -->
    <div class="container mb-5">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-nuevo" role="alert">Torneos Nuevos</div>
          <div class="row">
            <table id="new" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Inicio</th>
                  <th>Final</th>
                  <th>Torneo</th>
                  <th>Localidad</th>
                  <th>Provincia</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                {% for torneo in torneos_nuevos %}
                <tr>
                  <td>{{ torneo.start|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ torneo.finish|date:"SHORT_DATE_FORMAT" }}</td>
                  <td><a href="{{ torneo.get_absolute_url }}">{{ torneo.title }}</a></td>
                  <td>{{ torneo.location }}</td>
                  <td>{{ torneo.province }}</td>
                  <td>{{ torneo.status|capfirst }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Mostrar lista de torneos en curso -->
    <div class="container mb-5">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-curso" role="alert">Torneos en Curso</div>
          <div class="row">
            <table id="progress" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Inicio</th>
                  <th>Final</th>
                  <th>Torneo</th>
                  <th>Localidad</th>
                  <th>Provincia</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                {% for torneo in torneos_curso %}
                <tr>
                  <td>{{ torneo.start|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ torneo.finish|date:"SHORT_DATE_FORMAT" }}</td>
                  <td><a href="{{ torneo.get_absolute_url }}">{{ torneo.title }}</a></td>
                  <td>{{ torneo.location }}</td>
                  <td>{{ torneo.province }}</td>
                  <td>{{ torneo.status|capfirst }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Mostrar lista de torneos Finalizados -->
    <div class="container mb-5">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-finalizado" role="alert">Torneos Finalizados</div>
          <div class="row">
            <table id="finished" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Inicio</th>
                  <th>Final</th>
                  <th>Torneo</th>
                  <th>Localidad</th>
                  <th>Provincia</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                {% for torneo in torneos_finalizados %}
                <tr>
                  <td>{{ torneo.start|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ torneo.finish|date:"SHORT_DATE_FORMAT" }}</td>
                  <td><a href="{{ torneo.get_absolute_url }}">{{ torneo.title }}</a></td>
                  <td>{{ torneo.location }}</td>
                  <td>{{ torneo.province }}</td>
                  <td>{{ torneo.status|capfirst }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>{% endblock main %}

    {% block javascript %}<script type="text/javascript" src="{% static 'core/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/fullcalendar/lib/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/fullcalendar/lib/locales/es.js' %}"></script>{% endblock javascript %}

    {% block extra %}<!-- JavaScript para cada página -->
    <script>
      $(document).ready(function () {
        $("#new").DataTable({
          searching: false,
          language: {
            url: "{% static 'core/json/es-ES.json' %}"
          },
          ordering: false,
          responsive: true,
        });
        $("#finished").DataTable({
          searching: false,
          language: {
            url: "{% static 'core/json/es-ES.json' %}"
          },
          ordering: false,
          responsive: true,
        });
        $("#progress").DataTable({
          searching: false,
          language: {
            url: "{% static 'core/json/es-ES.json' %}"
          },
          ordering: false,
          responsive: true,
        });
      });
    </script>

    <!-- Javascript para calendar -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          themeSystem: 'standard',  // default
          headerToolbar: { center: 'dayGridMonth,timeGridWeek' }, // buttons for switching between views
          initialView: 'dayGridMonth',  // default

          events: [
           {% for torneo in torneos_nuevos %}
             {
               title: "{{ torneo.title }}",
               start: '{{ torneo.start | date:"Y-m-d" }}',
             },
           {% endfor %}
          ]
        });
        calendar.setOption('locale', 'es');
        calendar.render();
      });
    </script>{% endblock extra %}